<!DOCTYPE html>
<html id="top" lang="en" ng-app="poolEntry2018">
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <title>Player Pool Entry 2018</title>


      <link href="css/app.css" rel="stylesheet">
    </head>

    <body ng-controller="PoolCtrl">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">Player Pool 2018</span>
        </nav>

        <div class="container">
          <form>
            <div class="row">
              <div class="form-group col-sm">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #1:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed1.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                  <label for="exampleFormControlSelect1">Seed #1 Player:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="player in Seed1.players" value="{{player.player}}">{{player.player}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #2:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed2.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                  <label for="exampleFormControlSelect1">Seed #2 Player:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="player in Seed2.players" value="{{player.Player}}">{{player.Player}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #3:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed3.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                  <label for="exampleFormControlSelect1">Seed #3 Player:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="player in Seed3.players" value="{{player.Player}}">{{player.Player}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #4:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed4.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                  <label for="exampleFormControlSelect1">Seed #4 Player:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="player in Seed4.players" value="{{player.Player}}">{{player.Player}}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #5:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed5.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Seed #9:</label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="data.seed1Team">
                    <option ng-repeat="team in Seed9.teams" value="{{team.Team}}">{{team.Team}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script> -->
        <script src="js/angularjs/1.4.1/angular.js"></script>
        <!-- <script src="//cdn.rawgit.com/jsoma/tabletop/7b2024af62d71d52ac5c6cecc2256b04da00161e/src/tabletop.js"></script> -->
        <script src="js/tabletop.js"></script>
        <!-- <script src="//raw.githack.com/times/angular-tabletop/master/TabletopProvider.js"></script> -->
        <script src="js/TabletopProvider.js"></script>
        <!--<script src="https://raw.githubusercontent.com/times/angular-tabletop/master/TabletopProvider.js"></script>-->
        <!--<script src="https://rawgithub.com/richardsamuellopez/player-pool/gh-pages/js/TabletopProvider.js"></script>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
        <!-- <script src="js/jquery/1.11.3/jquery.min.js"></script> -->
        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="js/appEntry2018.js"></script>
    </body>
</html>
