<!DOCTYPE html>
<html id="top" lang="en" ng-app="poolEntry" ng-controller="PoolCtrl">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="/resources/icons/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="/resources/icons/basketball-152-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/resources/icons/basketball-152-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/icons/basketball-144-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/resources/icons/basketball-120-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/resources/icons/basketball-114-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/resources/icons/basketball-72-184778.png">
      <link rel="apple-touch-icon-precomposed" href="/resources/icons/basketball-57-184778.png">
      <link rel="icon" href="/resources/icons/basketball-32-184778.png" sizes="32x32">
      <!-- Bootstrap CSS -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <link href="css/app.css" rel="stylesheet">

      <title>Players Pool {{year}}</title>
    </head>

    <body class="ng-cloak" >
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">Players Pool {{year}}</span>
        </nav>
        <main>
          <div class="container">
            <p>Welcome to the NCAA Players Pool {{year}}. If you've played before, welcome back! If you're new to the pool, thanks for joining. In an effort to streamline the process on my end, this form will be the only way to submit rosters into the pool. Please check back on Selection Sunday!</p>
            <h4>Rosters are due by {{deadLine}}. Entries entered after noon will not be accepted.</h3>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      View pool rules
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    The rules are as follows:
                    <ul>
                      <li>The format of the pool is to construct a team of 11 individual players in the NCAA tournament. The team with the most cumulative points at the end of the tournament wins.</li>
                      <li>To start, you'll pick one player from each seed 1-9. I.E. You pick one player from either Kansas (probably?), Alabama (maybe?) and whoever gets the final #1 seeds. Repeat for seeds 2 through 9. The final two players come from any teams seeded 10-16, these are your "Wildcards". Wildcard players <b>CANNOT</b> play for the same team.</li>
                      <li>This is a "set it and forget it" roster; once the tournament starts there are no changes allowed.</li>
                      <li>Play-In Games <b>DO NOT</b> count towards a player's total. If you want a player on a Play-In team, you should wait and see if they advance to the field of 64 before submitting your roster.</li>
                      <li>Rosters are due by {{deadLine}}. You can enter however many rosters you'd like.</li>
                      <li>Entry fee is {{fee}}. I think we'll payout the top 5-12 depending on how many entries I receive.  First place will take home 50%.  Other payouts will be determined once I see how many entries are received. I'll send out the breakdown shortly after the tournament starts.</li>
                      <li>2017's Payouts were as follows:</li>
                      <ul>
                        <li>1st Place - 50%</li>
                        <li>2nd Place - 15%</li>
                        <li>3rd Place - 10%</li>
                        <li>4th Place - 8%</li>
                        <li>5th Place - 7%</li>
                        <li>6th Place - 5%</li>
                        <li>7th Place - 3%</li>
                        <li>8th Place - 2%</li>
                      </ul>
                      <li>In the event of a tie, we'll split the prize money between those parties. <b>Important</b>: LeagueSafe requires a 6-week window from the payment deadline to when the pool can be paid out.  With that said, there will be a delay for the winners to receive their payouts past the Final 4.  Final game is April 3rd, and LeagueSafe will pay out April 28th.  I don't make these rules.</li>
                      <li>Once the tournament begins, I will send out a link to the tracker, everyone's favorite website!  This is a Google Doc that will update the progress of the pool throughout the tournament.  I try to update this very frequently so you can follow the results closely. <a target="_blank" href=https://docs.google.com/spreadsheets/d/1irsX_OyhxtTCW7Nw19BIN1qeFQ1D_fKFwFW3Ee33tz4/edit#gid=0">Old Example Here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="seed.length === 11" class="container entry-form" ng-cloak>
            <form name="pinForm" id="pinForm">
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="email">E-mail Address</label>
                  <input
                    type="email"
                    id="email"
                    ng-model="email"
                    ng-disabled="pinVerified || checking"
                    class="form-control"
                    placeholder="name@example.com"
                    required
                  >
                </div>
                <div class="form-group col-sm-4">
                  <label for="pin">PIN</label>
                  <input
                    type="text"
                    maxlength="7"
                    pattern="[0-9]*"
                    id="pin"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    ng-model="pin"
                    ng-disabled="pinVerified || checking"
                    class="form-control"
                    placeholder=""
                    required
                  >
                </div>
                <div ng-if="error" class="col order-md-12">
                  <div class="alert alert-danger" role="alert">
                    <div ng-switch="pinError">
                      <div ng-switch-when="Duplicate-PIN">
                        <div>That PIN has already been used to submit a roster.</div>
                        <div>If you need to make and edit or there is another issue please e-mail <a href="mailto:{{contactEmail}}?subject=Players Pool">{{contactEmail}}</a>.</div>
                      </div>
                      <div ng-switch-default>
                        <div>The Email Address and PIN combination was not successful.</div>
                        <div>Please verify they are both correct and try again.</div>
                        <div>If the issue remains please e-mail <a href="mailto:{{contactEmail}}?subject=Players Pool">{{contactEmail}}</a>.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="pinVerified" class="form-group col-sm-4">
                  <label for="entryName">Entry Name</label>
                  <input
                    type="text"
                    ng-disabled="pinVerified || checking"
                    id="entryName"
                    name="entryName"
                    ng-model="entryName"
                    class="form-control"
                    required
                  >
                </div>
                <div ng-if="!pinVerified" class="col-sm-4 justify-content-center" style="margin: auto; text-align: center;">
                  <button type="submit" name="checkEntry" ng-disabled="checking" ng-click="checkEntry()" class="btn btn-primary mb-2 btn-form">
                      <div ng-if="checking" class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <span ng-if="!checking">Continue</span>
                    </button>
                </div>
              </div>
            </form>

            <form method="POST" name="gform" id="gform" enctype="application/x-www-form-urlencoded"
              ng-if="pinVerified"
              target="hidden_iframe" onsubmit="submitted=true;entrySubmit.disabled=true;"
              action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeXmdcBSWdpHTSbj2jeGsDNdANOdH3yQZ2NBgyqYA9j4c3t4Q/formResponse"
            >
              <div class="row">
                <input
                  hidden
                  type="email"
                  ng-model="email"
                  id={{emailID}}
                  name={{emailID}}
                  required
                >
                <input
                  hidden
                  type="text"
                  ng-model="pin"
                  id={{pinID}}
                  name={{pinID}}
                  required
                >
                <input
                  hidden
                  type="text"
                  ng-model="entryName"
                  id={{entryNameID}}
                  name={{entryNameID}}
                  required
                >
                <div class="col-sm-4" ng-repeat="(index, group) in fieldGroups">
                  <div class="form-group">
                    <label>{{group.label}}</label>
                    <select
                      class="form-control"
                      name={{group.team.entryId}}
                      id={{group.team.entryId}}
                      ng-model="group.team.value"
                      ng-options="team as (index > 8 ? team.seed +' - '+ team.name : team.name ) for team in seed[index].teams | filter:skipTeam(index) track by team.name"
                      ng-change="group.team.value===undefined?group.player.value=undefined:''"
                      required
                    >
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>{{group.label}} Player</label>
                    <select
                      class="form-control"
                      name={{group.player.entryId}}
                      id={{group.player.entryId}}
                      ng-model="group.player.value"
                      ng-options="player as player.name for player in seed[index].players | filter:{team:group.team.value.name}:true track by player.name"
                      ng-change="group.player.value!==undefined? group.team.value= index < 9 ? {name: group.player.value.team, seed: index+1} : setWCTeam(seed[index].teams, group.player.value) :''"
                      required
                    >
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4 justify-content-center" style="margin: auto; text-align: center;">
                  <button ng-disabled="!pinVerified" type="submit" name="entrySubmit" value="Submit" class="btn btn-primary mb-2 btn-form">Submit</button>
                </div>
              </div>
            </form>
          </div>

          <div class="container" id="finalRoster" style="display:none;">
            <div class="alert alert-success" role="alert">
              Your Players Pool entry has been submitted. Keep an eye out for a confirmation e-mail with payment instructions. I sleep at night so late night submissions might not get a confirmation e-mail until the next morning. If you still don't see it remember to check your spam folder. If you have any issues feel free to e-mail <a href="mailto:{{contactEmail}}?subject=Players Pool">{{contactEmail}}</a>.
            </div>
            <div class="alert alert-primary" role="alert">
              <div><label>E-mail: </label>{{email}}</div>
              <div><label>Entry: </label>{{entryName}}</div>
              <div><label>PIN: </label>{{pin}}</div>
              <div ng-repeat="(index, seed) in fieldGroups">
                <div ng-switch="index">
                  <label ng-switch-when="9">WC#1:</label>
                  <label ng-switch-when="10">WC#2:</label>
                  <label ng-switch-default>#{{index+1}}:</label>
                  {{seed.player.value.team}} - {{seed.player.value.name}}
                </div>
              </div>
            </div>
            <button class="btn btn-primary mb-2 btn-form" ng-click="reloadPage()">Fill out another</button>
          </div>
        </main>

        <script type="text/javascript">var submitted=false;</script>

        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
        <script src="js/angularjs/1.4.1/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="js/appEntry.js"></script>

        <script type="text/javascript">
        $('#gform').on('submit', function(e) {
          console.log("SUBMIT");
          $('.entry-form').fadeOut(2000);
          $('#gform *').fadeOut(2000);
          $('#pinForm *').fadeOut(2000);
          $('#finalRoster').fadeIn(2000);
          });
        </script>
    </body>
</html>
