<!DOCTYPE html>
<html id="top" lang="en" ng-app="poolEntry" ng-controller="PoolCtrl">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="/resources/icons/favicon.ico">
      <link rel="apple-touch-icon-precomposed" href="/resources/icons/basketball-152-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/resources/icons/basketball-152-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/icons/basketball-144-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/resources/icons/basketball-120-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/resources/icons/basketball-114-184778.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/resources/icons/basketball-72-184778.png">
      <link rel="apple-touch-icon-precomposed" href="/resources/icons/basketball-57-184778.png">
      <link rel="icon" href="/resources/icons/basketball-32-184778.png" sizes="32x32">
      <!-- Bootstrap CSS -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <link href="css/app.css" rel="stylesheet">

      <title>Player Pool {{year}}</title>
    </head>

    <body class="ng-cloak" >
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">Player Pool {{year}}</span>
        </nav>
        <main>
          <div class="container">
            <p>Welcome to the NCAA Player Pool {{year}}. If you've played before, welcome back! If you're new to the pool, thanks for joining. In an effort to streamline the process on my end, this form will be the only way to submit rosters into the pool. Please check back on Selection Sunday!</p>
            <h4>Rosters are due by {{deadLine}}. Entries entered after noon will not be accepted.</h3>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      View pool rules
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    The rules are as follows:
                    <ul>
                      <li>The format of the pool is to construct a team of 11 individual players in the NCAA tournament. The team with the most cumulative points at the end of the tournament wins.</li>
                      <li>To start, you'll pick one player from each seed 1-9. I.E. You pick one player from either Kansas (probably?), Alabama (maybe?) and whoever gets the final #1 seeds. Repeat for seeds 2 through 9. The final two players come from any teams seeded 10-16, these are your "Wildcards". Wildcard players <b>CANNOT</b> play for the same team.</li>
                      <li>This is a "set it and forget it" roster; once the tournament starts there are no changes allowed.</li>
                      <li>Play-In Games <b>DO NOT</b> count towards a player's total. If you want a player on a Play-In team, you should wait and see if they advance to the field of 64 before submitting your roster.</li>
                      <li>Rosters are due by {{deadLine}}. You can enter however many rosters you'd like.</li>
                      <li>Entry fee is {{fee}}. I think we'll payout the top 5-12 depending on how many entries I receive.  First place will take home 50%.  Other payouts will be determined once I see how many entries are received. I'll send out the breakdown shortly after the tournament starts.</li>
                      <li>2017's Payouts were as follows:</li>
                      <ul>
                        <li>1st Place - 50%</li>
                        <li>2nd Place - 15%</li>
                        <li>3rd Place - 10%</li>
                        <li>4th Place - 8%</li>
                        <li>5th Place - 7%</li>
                        <li>6th Place - 5%</li>
                        <li>7th Place - 3%</li>
                        <li>8th Place - 2%</li>
                      </ul>
                      <li>In the event of a tie, we'll split the prize money between those parties. <b>Important</b>: LeagueSafe requires a 6-week window from the payment deadline to when the pool can be paid out.  With that said, there will be a delay for the winners to receive their payouts past the Final 4.  Final game is April 3rd, and LeagueSafe will pay out April 28th.  I don't make these rules.</li>
                      <li>Once the tournament begins, I will send out a link to the tracker, everyone's favorite website!  This is a Google Doc that will update the progress of the pool throughout the tournament.  I try to update this very frequently so you can follow the results closely. <a target="_blank" href=https://docs.google.com/spreadsheets/d/1irsX_OyhxtTCW7Nw19BIN1qeFQ1D_fKFwFW3Ee33tz4/edit#gid=0">Old Example Here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="Seed1.teams.length>0" class="container entry-form" ng-cloak>
            <form name="pinForm" id="pinForm">
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    id="email"
                    ng-model="email"
                    ng-disabled="pinVerified || checking"
                    class="form-control"
                    placeholder="name@example.com"
                    required
                  >
                </div>
                <div class="form-group col-sm-4">
                  <label for="pin">PIN</label>
                  <input
                    type="text"
                    maxlength="7"
                    pattern="[0-9]*"
                    id="pin"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    ng-model="pin"
                    ng-disabled="pinVerified || checking"
                    class="form-control"
                    placeholder=""
                    required
                  >
                </div>
                <div ng-show="error" class="col order-md-12">
                  <div class="alert alert-danger" role="alert">
                    The Email Address and PIN combination was not successful.
                    <br>Please verify they are both correct and try again.
                    <br>If the issues remains contact me at <a href="mailto:corey.waddell@gmail.com">corey.waddell@gmail.com</a>.
                  </div>
                </div>
                <div ng-show="pinVerified" class="form-group col-sm-4">
                  <label for="entryName">Entry Name</label>
                  <input
                    type="text"
                    ng-disabled="pinVerified || checking"
                    id="entryName"
                    ng-model="entryName"
                    class="form-control"
                    required
                  >
                </div>
                <div ng-show="!pinVerified" class="col-sm-4 justify-content-center" style="margin: auto; text-align: center;">
                  <button type="submit" name="checkEntry" ng-disabled="checking" ng-click="checkEntry()" class="btn btn-primary mb-2 btn-form">
                      <div ng-if="checking" class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <span ng-if="!checking">Continue</span>
                    </button>
                </div>
              </div>
            </form>

            <form method="POST" name="gForm" id="gForm" enctype="application/x-www-form-urlencoded"
              ng-show="pinVerified"
              target="hidden_iframe" onsubmit="submitted=true;entrySubmit.disabled=true;"
              action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeXmdcBSWdpHTSbj2jeGsDNdANOdH3yQZ2NBgyqYA9j4c3t4Q/formResponse"
            >
              <div class="row">
                <input
                  hidden
                  type="email"
                  ng-model="email"
                  id={{emailID}}
                  name={{emailID}}
                  required
                >
                <input
                  hidden
                  type="text"
                  ng-model="pin"
                  id={{pinID}}
                  name={{pinID}}
                  required
                >
                <input
                  hidden
                  type="text"
                  ng-model="entryName"
                  id={{entryNameID}}
                  name={{entryNameID}}
                  required
                >
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #1</label>
                    <select class="form-control" name={{entry.seed1Team}} id={{entry.seed1Team}}
                    ng-model="seed1Team" ng-options="team as team.name for team in Seed1.teams track by team.name"
                    ng-change="seed1Team===undefined?seed1Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #1 Player</label>
                    <select class="form-control" name={{entry.seed1Player}} id={{entry.seed1Player}}
                    ng-model="seed1Player" ng-options="player as player.name for player in Seed1.players | filter:{team:seed1Team.name}:true track by player.name"
                    ng-change="seed1Player!==undefined?seed1Team={name: seed1Player.team, seed: 1}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #2</label>
                    <select class="form-control" name={{entry.seed2Team}} id={{entry.seed2Team}}
                    ng-model="seed2Team" ng-options="team as team.name for team in Seed2.teams track by team.name"
                    ng-change="seed2Team===undefined?seed2Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #2 Player</label>
                    <select class="form-control" name={{entry.seed2Player}} id={{entry.seed2Player}}
                    ng-model="seed2Player" ng-options="player as player.name for player in Seed2.players | filter:{team:seed2Team.name}:true track by player.name"
                    ng-change="seed2Player!==undefined?seed2Team={name: seed2Player.team, seed: 2}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #3</label>
                    <select class="form-control" name={{entry.seed3Team}} id={{entry.seed3Team}}
                    ng-model="seed3Team" ng-options="team as team.name for team in Seed3.teams track by team.name"
                    ng-change="seed3Team===undefined?seed3Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #3 Player</label>
                    <select class="form-control" name={{entry.seed3Player}} id={{entry.seed3Player}}
                    ng-model="seed3Player" ng-options="player as player.name for player in Seed3.players | filter:{team:seed3Team.name}:true track by player.name"
                    ng-change="seed3Player!==undefined?seed3Team={name: seed3Player.team, seed: 3}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #4</label>
                    <select class="form-control" name={{entry.seed4Team}} id={{entry.seed4Team}}
                    ng-model="seed4Team" ng-options="team as team.name for team in Seed4.teams track by team.name"
                    ng-change="seed4Team===undefined?seed4Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #4 Player</label>
                    <select class="form-control" name={{entry.seed4Player}} id={{entry.seed4Player}}
                    ng-model="seed4Player" ng-options="player as player.name for player in Seed4.players | filter:{team:seed4Team.name}:true track by player.name"
                    ng-change="seed4Player!==undefined?seed4Team={name: seed4Player.team, seed: 4}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #5</label>
                    <select class="form-control" name={{entry.seed5Team}} id={{entry.seed5Team}}
                    ng-model="seed5Team" ng-options="team as team.name for team in Seed5.teams track by team.name"
                    ng-change="seed5Team===undefined?seed5Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #5 Player</label>
                    <select class="form-control" name={{entry.seed5Player}} id={{entry.seed5Player}}
                    ng-model="seed5Player" ng-options="player as player.name for player in Seed5.players | filter:{team:seed5Team.name}:true track by player.name"
                    ng-change="seed5Player!==undefined?seed5Team={name: seed5Player.team, seed: 5}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #6</label>
                    <select class="form-control" name={{entry.seed6Team}} id={{entry.seed6Team}}
                    ng-model="seed6Team" ng-options="team as team.name for team in Seed6.teams track by team.name"
                    ng-change="seed6Team===undefined?seed6Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #6 Player</label>
                    <select class="form-control" name={{entry.seed6Player}} id={{entry.seed6Player}}
                    ng-model="seed6Player" ng-options="player as player.name for player in Seed6.players | filter:{team:seed6Team.name}:true track by player.name"
                    ng-change="seed6Player!==undefined?seed6Team={name: seed6Player.team, seed: 6}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #7</label>
                    <select class="form-control" name={{entry.seed7Team}} id={{entry.seed7Team}}
                    ng-model="seed7Team" ng-options="team as team.name for team in Seed7.teams track by team.name"
                    ng-change="seed7Team===undefined?seed7Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #7 Player</label>
                    <select class="form-control" name={{entry.seed7Player}} id={{entry.seed7Player}}
                    ng-model="seed7Player" ng-options="player as player.name for player in Seed7.players | filter:{team:seed7Team.name}:true track by player.name"
                    ng-change="seed7Player!==undefined?seed7Team={name: seed7Player.team, seed: 7}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #8</label>
                    <select class="form-control" name={{entry.seed8Team}} id={{entry.seed8Team}}
                    ng-model="seed8Team" ng-options="team as team.name for team in Seed8.teams track by team.name"
                    ng-change="seed8Team===undefined?seed8Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #8 Player</label>
                    <select class="form-control" name={{entry.seed8Player}} id={{entry.seed8Player}}
                    ng-model="seed8Player" ng-options="player as player.name for player in Seed8.players | filter:{team:seed8Team.name}:true track by player.name"
                    ng-change="seed8Player!==undefined?seed8Team={name: seed8Player.team, seed: 8}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Seed #9</label>
                    <select class="form-control" name={{entry.seed9Team}} id={{entry.seed9Team}}
                    ng-model="seed9Team" ng-options="team as team.name for team in Seed9.teams track by team.name"
                    ng-change="seed9Team===undefined?seed9Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Seed #9 Player</label>
                    <select class="form-control" name={{entry.seed9Player}} id={{entry.seed9Player}}
                    ng-model="seed9Player" ng-options="player as player.name for player in Seed9.players | filter:{team:seed9Team.name}:true track by player.name"
                    ng-change="seed9Player!==undefined?seed9Team={name: seed9Player.team, seed: 9}:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Wild Card #1</label>
                    <select ng-init="WC1.teams=[]" class="form-control" name={{entry.seedWC1Team}} id={{entry.seedWC1Team}}
                    ng-model="WC1Team" ng-options="team as (team.seed +' - '+ team.name) for team in WC1.teams | excludeFrom:WC2Team track by team.name"
                    ng-change="WC1Team===undefined?WC1Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Wild Card #1 Player</label>
                    <select class="form-control" name={{entry.seedWC1Player}} id={{entry.seedWC1Player}}
                    ng-model="WC1Player" ng-options="player as player.name for player in WC1.players | filter:{team:WC1Team.name}:true track by player.name"
                    ng-change="WC1Team===undefined?WC1Team=setWCTeam(WC1.teams, WC1Player):'';" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Wild Card #2</label>
                    <select ng-init="WC2.teams=[]" class="form-control" name={{entry.seedWC2Team}} id={{entry.seedWC2Team}}
                    ng-model="WC2Team" ng-options="team as (team.seed +' - '+ team.name) for team in WC2.teams | excludeFrom:WC1Team track by team.name"
                    ng-change="WC2Team===undefined?WC2Player=undefined:''" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Wild Card #2 Player</label>
                    <select class="form-control" name={{entry.seedWC2Player}} id={{entry.seedWC2Player}}
                    ng-model="WC2Player" ng-options="player as player.name for player in WC2.players | filter:{team:WC2Team.name}:true track by player.name"
                    ng-change="WC2Team===undefined?WC2Team=setWCTeam(WC2.teams, WC2Player):'';" required>
                      <option ng-selected="true" value=""></option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4 justify-content-center" style="margin: auto; text-align: center;">
                  <button type="submit" name="entrySubmit" value="Submit" class="btn btn-primary mb-2 btn-form">Submit</button>
                </div>
              </div>
            </form>
          </div>

          <div class="container" id="finalRoster" style="display:none;">
            <div class="alert alert-success" role="alert">
              Your player pool entry has been submitted. Keep an eye out for a confirmation e-mail with payment instructions. I sleep at night so late night submissions might not get a confirmation e-mail until the next morning. If you still don't see it remember to check your spam folder. If you have any issues feel free to e-mail me at <a href="mailto:corey.waddell@gmail.com">corey.waddell@gmail.com</a>.
            </div>
            <div class="alert alert-primary" role="alert">
              <div><label>Email: </label>{{email}}</div>
              <div><label>Entry: </label>{{entryName}}</div>
              <div><label>PIN: </label>{{pin}}</div>
              <div><label>#1: </label>{{seed1Player.team}} - {{seed1Player.name}}</div>
              <div><label>#2: </label>{{seed2Player.team}} - {{seed2Player.name}}</div>
              <div><label>#3: </label>{{seed3Player.team}} - {{seed3Player.name}}</div>
              <div><label>#4: </label>{{seed4Player.team}} - {{seed4Player.name}}</div>
              <div><label>#5: </label>{{seed5Player.team}} - {{seed5Player.name}}</div>
              <div><label>#6: </label>{{seed6Player.team}} - {{seed6Player.name}}</div>
              <div><label>#7: </label>{{seed7Player.team}} - {{seed7Player.name}}</div>
              <div><label>#8: </label>{{seed8Player.team}} - {{seed8Player.name}}</div>
              <div><label>#9: </label>{{seed9Player.team}} - {{seed9Player.name}}</div>
              <div><label>WC#1: </label>{{WC1Player.team}} - {{WC1Player.name}}</div>
              <div><label>WC#2: </label>{{WC2Player.team}} - {{WC2Player.name}}</div>
            </div>
            <button class="btn btn-primary mb-2 btn-form" ng-click="reloadPage()">Fill out another</button>
          </div>
        </main>

        <script type="text/javascript">var submitted=false;</script>

        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
        <script src="js/angularjs/1.4.1/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="js/appEntry.js"></script>

        <script type="text/javascript">
        $('#gForm').on('submit', function(e) {
          $('#gForm *').fadeOut(2000);
          $('#pinForm *').fadeOut(2000);
          $('#finalRoster').fadeIn(2000);
          });
        </script>
    </body>
</html>
